

html {
    font-size: 16px;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

#keyboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.key-button {
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    border: .2rem solid black;
}