

html {
    font-size: 16px;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

#word-display {
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
}

#game-state {
    font-size: 2rem;
}

.keyboard {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.key-button {
    background: none;
    text-align: center;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid black;
}

.key-button:hover {
    cursor: pointer;
}

.incorrect {
    background-color: gray;
}

.correct {
    background-color: green;
}
